﻿
@{
    ViewBag.Title = "test0513";
}

<h2>test0513</h2>

@{
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}


<ol>
    @foreach (var item in fruits)
    {

        <li>
            @item
        </li>
    }
</ol>