﻿
@model WebApplication1.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="/BMI/Index" method="post">

    身高:@Html.TextBoxFor(f => f.Height)>cm @Html.ValidationMessageFor(f => f.Height)<br />
    體重:@Html.TextBoxFor(f => f.Weight)>kg @Html.ValidationMessageFor(f => f.Weight)<br />
    <input type="submit" name="name" value="送出" />




</form>
<br />
計算結果: @Model.BMI <br />
等級: @Model.Level

